type hal_trust_default, coredomain, domain;

type hal_trust_default_exec, system_file_type, exec_type, file_type;
init_daemon_domain(hal_trust_default)
